// START PAGE
.start__text {
  position: relative;

  button {
    font-size: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    color: transparent;

    // Styling the pseudo-element to look like the gradient "START" text
    &::before {
      content: 'START';
      font-family: Pixel;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(to right, #0022ff, #9900ff);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-weight: bold;
      text-shadow: -5px 0px 0 rgba(255, 255, 255, 0.7); // White shadow with transparency
    }
  }
}

.start__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 70px;
  border: 1px solid #FFF;
  p {
    font-size: 1rem;
    color: #ababab;
  }
}


.start__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  p {
    font-size: 1rem;
    color: #ababab;
  }
}


.start__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  p {
    font-size: 1rem;
    color: #ababab;
  }
}


// WELCOMEPAGE
.welcome__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .welcome__Message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Pixel;
    background: linear-gradient(to right, #0022ff, #9900ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 6vh;

    div {
      display: flex;
      flex-direction: row;
    }

    h1 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 2rem;
      margin-right: 1rem;
    }

    h3 {
      font-size: 4.5rem;
      line-height: 4.3rem;
      background: linear-gradient(to right, #0022ff, #9900ff);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      filter: drop-shadow(-1px 1px 0px white);
    }

    .home {
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3.2rem;
        transform: translate(-63%, -195%);
        background: linear-gradient(to right, #ffffff, #ababab);
        opacity: 75%;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .to {
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2rem;
        transform: translate(-332%, -170%);
        background: linear-gradient(to right, #ffffff, #ababab);
        opacity: 75%;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .bit {
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4.5rem;
        transform: translate(-39.5%, -85%);
        background: linear-gradient(to right, #ffffff, #ababab);
        opacity: 40%;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  // EXIT AND PLAY
  .play__Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .pink__Gradient {
    background: linear-gradient(to right, #001079, #0022ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: PixelCondensed;
  }

  .blue__Gradient {
    background: linear-gradient(to right, #9900ff, #6000a1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: PixelCondensed;
  }

  .separation__line {
    background-color: white;
    width: 6vw;
    height: 0.05rem;
    margin: 0vh 2vw;
  }

  .more__Button {
    font-size: 1.7rem;
    font-family: Pixel;

    h4 {
      background: linear-gradient(to right, #0022ff, #9900ff);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.7rem;
      transform: translate(-53%, 260%);
      background: linear-gradient(to right, #ffffff, #ababab);
      opacity: 75%;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.Error {
  &__Box {
    left: 399px;
    top: 600px;
    position: absolute;
    width: 305px;
    height: 93px;
    flex-shrink: 0;
    border: 1px solid #fff;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &__Image {
      width: 40px;
      height: 45px;
      flex-shrink: 0;
    }

    &__Container {
      width: 243px;
      &__Text {
        color: #fff;
        text-align: center;
        font-family: "Pixel Sans Serif Condensed";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 200.027%; /* 24.003px */
      }
    }

    &__Close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
    }
    &__Invisible {
      display: none;
    }

    &__Visible {
      display: flex;
    }
  }
}

.more__Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28vw;

  .creators__Text {
    margin-bottom: 2vh;
    line-height: 4.2vh;

    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  h1,
  h2 {
    text-align: center;
    font-size: 1.7rem;
    background: linear-gradient(#0022ff, #9900ff);
    background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }

  .creators__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-family: PixelCondensed;
      font-size: 1.3rem;
    }

    .separation__line {
      background-color: white;
      width: 10vw;
      height: 0.05rem;
      margin-top: 2.5vh;
    }

    .nova {
      background: linear-gradient(to right, #9900ff, #6000a1);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      filter: drop-shadow(0.5px -0.5px 0px white);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.3rem;
        transform: translate(-51.5%, -50%);
        background: linear-gradient(to right, #ffffff, #ababab);
        opacity: 75%;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }

    .sovz {
      background: linear-gradient(to right, #001079, #0022ff);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      filter: drop-shadow(0.5px -0.5px 0px white);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.3rem;
        transform: translate(-48.5%, -50%);
        background: linear-gradient(to right, #d9d9d9, #ffffff);
        opacity: 70%;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: row;

    img {
      height: 2rem;
    }
  }

  .music__Credits,
  .art__Credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0px 4vh 0px;

    h3 {
      font-size: 1rem;
      background: linear-gradient(to bottom, #0022ff, #9900ff);
      background-clip: text;
      -webkit-text-stroke: 1.5px transparent;
      height: 3vh;
    }
  }

  .copyright__Text {
    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}