// STARTPAGE
.start__text {
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-52%, -65%);
		font-size: 20px;
		font-size: 2rem;
		background: linear-gradient(to right, #ffffff, #ababab);
		opacity: 50%;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
}

.start__button {
	border: 0.01rem white solid;
	font-family: Pixel;
	padding: 1.5rem 3rem;
	text-align: center;

	p {
		font-size: 0.6rem;
	}

	button {
		font-size: 2rem;
		font-family: Pixel;
		width: auto;
		border: none;
		background: linear-gradient(to right, #0022ff, #9900ff);
		-webkit-text-fill-color: transparent;
		background-clip: text;
		filter: drop-shadow(-1px 1px 0px white);
	}
}

// WELCOMEPAGE
.welcome__Message {
	display: flex;
	flex-direction: column;
	font-family: Pixel;
	background: linear-gradient(to right, #0022ff, #9900ff);
	-webkit-text-fill-color: transparent;
	background-clip: text;

	div {
		display: flex;
		flex-direction: row;
	}

	h1 {
		font-size: 3.2rem
	}

	h2 {
		font-size: 2rem;
		line-height: 2rem;
		margin-right: 1rem;
	}

	h3{
		font-size: 4.5rem;
		line-height: 4rem;
		background: linear-gradient(to right, #0022ff, #9900ff);
		-webkit-text-fill-color: transparent;
		background-clip: text;
		filter: drop-shadow(-1px 1px 0px white);
	}
}

.bit {
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 4.5rem;
		transform: translate(-40%, -15%);
		background: linear-gradient(to right, #ffffff, #ababab);
		opacity: 60%;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
}