@font-face {
  font-family: Pixel;
  src: url(/fonts/PixelSans.ttf);
}

@font-face {
  font-family: PixelCondensed;
  src: url(/fonts/PixelCondensed.ttf);
}

:root {
  font-family: PixelCondensed;
  background-color: #000000;
}

