// INVENTORY
.inventory {
  position: absolute;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: flex-end; /* Vertical centering */
  bottom: 0;
  left: 34.5%;
  &__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    margin: 20px;

    &__slot {
      background: gray;
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        z-index: 1;
      }
    }
  }
}
