// LOADING BAR
.loading-bar {
  transform: scale(3);
  transform-origin: middle left;
  image-rendering: pixelated;
  text-align: center;

  &__primary-container {
    &__text {
      font-size: $font-size-xxs; // Small font, becomes large when scaled
      font-family: $font-pixel-condensed;
    }

    &__extra {
      font-size: $font-size-xxxs;
      font-family: $font-pixel-condensed;
    }
  }

  &__secondary-container {
    &__progress {
      position: absolute;
      top: 100%;
      left: 0;
      height: 0.6rem;
      margin-top: 5px;
      width: 0%;
      background: linear-gradient(
        to right,
        $color-gradient-start,
        $color-gradient-end
      );
      transition: width 0.1s steps(1);
    }
  }
}
