// MAIN MENU
.mainmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-pixel;
    margin-bottom: 6vh;
    position: relative;

    &__single-text {
      &__welcome {
        font-size: $font-size-xl;
        position: relative;
        text-align: center;
        font-weight: bold;
        background: $gradient-main;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: $text-shadow-subtle;
      }
    }

    &__double-text {
      display: flex;
      flex-direction: row;

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__to {
          font-size: $font-size-lg;
          line-height: 2rem;
          margin-right: 1rem;
          position: relative;
          text-align: center;
          font-weight: bold;
          background: $gradient-main;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: $text-shadow-subtle;
        }

        &__bit {
          font-size: 4.5rem;
          line-height: 4.3rem;
          position: relative;
          text-align: center;
          font-weight: bold;
          background: $gradient-main;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(-1.5px 1.5px 0px white);
          text-shadow: $text-shadow-subtler;
        }
      }
    }
  }

  &__credits-button {
    display: flex;
    justify-content: center;

    h4 {
      font-size: $font-size-md;
      position: relative;
      text-align: center;
      font-weight: bold;
      background: $gradient-main;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: $text-shadow-subtle;
    }
  }

  &__play-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $font-size-md;
    margin-bottom: 1rem;

    &__pink-gradient {
      background: linear-gradient(
        to right,
        $color-gradient-mid,
        $color-gradient-start
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: $font-pixel-condensed;
    }

    &__blue-gradient {
      background: $gradient-secondary;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: $font-pixel-condensed;
    }

    &__seperation-line {
      background-color: $color-white;
      width: 6vw;
      height: 0.05rem;
      margin: 0vh 2vw;
    }
  }
}
